# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [137]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
#Regression
from sklearn.linear_model import LinearRegression,Ridge,ElasticNet, Lasso
#Classification
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

## Regression Model Evaluation

In [56]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [57]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [58]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('MEDV', axis = 1), data['MEDV'], test_size = 0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [66]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred_train = model.predict(X_train) 
y_pred_test = model.predict(X_test)

print('Actual vs Predicted (Training)')
display(pd.DataFrame({'Actual': y_train, 'Predicted': y_pred_train}))

print('-----------------------------\nActual vs Predicted (Test)')
pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_test})

Actual vs Predicted (Training)

     Actual  Predicted
422    20.8  19.345748
58     23.3  21.502016
402    12.1  18.048376
482    25.0  28.715799
485    21.2  22.160405
..      ...        ...
205    22.6  22.739090
64     33.0  22.256774
84     23.9  24.697284
424    11.7  15.900412
5      28.7  25.099113

[404 rows x 2 columns]

-----------------------------
Actual vs Predicted (Test)

     Actual  Predicted
118    20.4  20.516068
134    15.6  13.300524
498    21.2  21.311501
76     20.0  23.062503
444    10.8  11.405445
..      ...        ...
59     19.6  21.103855
163    50.0  41.135326
318    23.1  24.149281
172    23.1  23.571639
308    22.8  28.764420

[102 rows x 2 columns]

## 3. Calculate and print R-squared for both the training and the testing set.

In [60]:
print(f'R^2 on train predictions: {metrics.r2_score(y_train, y_pred_train)}')
print(f'R^2 on test predictions: {metrics.r2_score(y_test, y_pred_test)}')

R^2 on train predictions: 0.7294712762359254
R^2 on test predictions: 0.7807482136093806

## 4. Calculate and print mean squared error for both the training and the testing set.

In [61]:
print(f'MSE on train predictions: {metrics.mean_squared_error(y_train, y_pred_train)}')
print(f'MSEon test predictions: {metrics.mean_squared_error(y_test, y_pred_test)}')

MSE on train predictions: 23.67430997645262
MSEon test predictions: 15.805250351518023

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [62]:
print(f'MAE on train predictions: {metrics.mean_absolute_error(y_train, y_pred_train)}')
print(f'MAE on test predictions: {metrics.mean_absolute_error(y_test, y_pred_test)}')

MAE on train predictions: 3.394642681830072
MAE on test predictions: 3.1390762929093405

## Classification Model Evaluation

In [67]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [68]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [69]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('class', axis = 1), data['class'], test_size = 0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [70]:
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred_train = model.predict(X_train) 
y_pred_test = model.predict(X_test)

print('Actual vs Predicted (Training)')
display(pd.DataFrame({'Actual': y_train, 'Predicted': y_pred_train}))

print('-----------------------------\nActual vs Predicted (Test)')
pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_test})

Actual vs Predicted (Training)

C:\Users\Emilio\anaconda3\envs\data\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

     Actual  Predicted
78        1          1
126       2          2
134       2          2
117       2          2
2         0          0
..      ...        ...
18        0          0
1         0          0
77        1          2
72        1          1
28        0          0

[120 rows x 2 columns]

-----------------------------
Actual vs Predicted (Test)

     Actual  Predicted
49        0          0
132       2          2
12        0          0
65        1          1
71        1          1
106       2          1
40        0          0
133       2          2
100       2          2
82        1          1
93        1          1
69        1          1
46        0          0
110       2          2
122       2          2
85        1          1
26        0          0
109       2          2
76        1          1
139       2          2
14        0          0
112       2          2
58        1          1
79        1          1
113       2          2
115       2          2
81        1          1
51        1          1
10        0          0
66        1          1

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [71]:
print(f'ACC on train predictions: {metrics.accuracy_score(y_train, y_pred_train)}')
print(f'ACC on test predictions: {metrics.accuracy_score(y_test, y_pred_test)}')

ACC on train predictions: 0.9666666666666667
ACC on test predictions: 0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [72]:
print(f'Balanced ACC on train predictions: {metrics.balanced_accuracy_score(y_train, y_pred_train)}')
print(f'Balanced ACC on test predictions: {metrics.balanced_accuracy_score(y_test, y_pred_test)}')

Balanced ACC on train predictions: 0.9651372019793073
Balanced ACC on test predictions: 0.9696969696969697

## 10. Calculate and print the precision score for both the training and the testing set.

In [79]:
print(f"Precision train: {metrics.precision_score(y_train, y_pred_train, average='macro')}")
print(f"Precision test: {metrics.precision_score(y_test, y_pred_test, average='macro')}")

Precision train: 0.9663504968383018
Precision test: 0.9743589743589745

## 11. Calculate and print the recall score for both the training and the testing set.

In [82]:
print(f"Recall on train predictions: {metrics.recall_score(y_train, y_pred_train, average='macro')}")
print(f"Recall on test predictions: {metrics.recall_score(y_test, y_pred_test, average='macro')}")

Recall on train predictions: 0.9651372019793073
Recall on test predictions: 0.9696969696969697

## 12. Calculate and print the F1 score for both the training and the testing set.

In [83]:
print(f"f1 on train predictions: {metrics.f1_score(y_train, y_pred_train, average='macro')}")
print(f"f1 on test predictions: {metrics.f1_score(y_test, y_pred_test, average='macro')}")

f1 on train predictions: 0.9653153153153152
f1 on test predictions: 0.9707936507936509

## 13. Generate confusion matrices for both the training and the testing set.

In [93]:
labels = y_train.sort_values().unique()

In [98]:
pd.DataFrame(metrics.confusion_matrix(y_train, y_pred_train), columns = labels, index = labels)

    0   1   2
0  43   0   0
1   0  35   3
2   0   1  38

In [95]:
pd.DataFrame(metrics.confusion_matrix(y_test, y_pred_test), columns = labels, index = labels)

   0   1   2
0  7   0   0
1  0  12   0
2  0   1  10

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [132]:
#Classification

def MultipleClassifiers(func, X, y, test_size = 0.2,):
    """ 
    Function that trains a model and return metrics
            
    :param X: data for training
    :param y: target values
    :param test_size: for trian _test_split(by default = .2)
    """
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, 
                                                        random_state=0)
    
    model = func
    model.fit(X_train, y_train)
    y_pred_train = model.predict(X_train) 
    y_pred_test = model.predict(X_test)
    labels = y_train.sort_values().unique()
    
    print('--------------------------------------------------------')
    print(f'ACC on train predictions: {metrics.accuracy_score(y_train, y_pred_train)}')
    print(f'ACC on test predictions: {metrics.accuracy_score(y_test, y_pred_test)}')
    print('--------------------------------------------------------')
    print(f'Balanced ACC on train predictions: {metrics.balanced_accuracy_score(y_train, y_pred_train)}')
    print(f'Balanced ACC on test predictions: {metrics.balanced_accuracy_score(y_test, y_pred_test)}')
    print('--------------------------------------------------------')
    print(f"Precision train: {metrics.precision_score(y_train, y_pred_train, average='macro')}")
    print(f"Precision test: {metrics.precision_score(y_test, y_pred_test, average='macro')}")
    print('--------------------------------------------------------')
    print(f"Recall on train predictions: {metrics.recall_score(y_train, y_pred_train, average='macro')}")
    print(f"Recall on test predictions: {metrics.recall_score(y_test, y_pred_test, average='macro')}")
    print('--------------------------------------------------------')
    print(f"f1 on train predictions: {metrics.f1_score(y_train, y_pred_train, average='macro')}")
    print(f"f1 on test predictions: {metrics.f1_score(y_test, y_pred_test, average='macro')}")
    print('--------------------------------------------------------')
    print("Confusion matrix (y_train vs y_pred_train)")
    display(pd.DataFrame(metrics.confusion_matrix(y_train, y_pred_train), columns = labels, index = labels))
    print("Confusion matrix (y_test vs y_pred_test)")
    display(pd.DataFrame(metrics.confusion_matrix(y_test, y_pred_test), columns = labels, index = labels))

In [133]:
data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.Series(data["target"])
                                    

models = [
    DecisionTreeClassifier(max_depth=5),
    KNeighborsClassifier(n_neighbors=5),
    GaussianNB()]

for model in models:
        print(str(model))
        MultipleClassifiers(model,X,y)
        print("*****************************************************\n***************************************************")

DecisionTreeClassifier(max_depth=5)
--------------------------------------------------------
ACC on train predictions: 1.0
ACC on test predictions: 1.0
--------------------------------------------------------
Balanced ACC on train predictions: 1.0
Balanced ACC on test predictions: 1.0
--------------------------------------------------------
Precision train: 1.0
Precision test: 1.0
--------------------------------------------------------
Recall on train predictions: 1.0
Recall on test predictions: 1.0
--------------------------------------------------------
f1 on train predictions: 1.0
f1 on test predictions: 1.0
--------------------------------------------------------
Confusion matrix (y_train vs y_pred_train)

    0   1   2
0  39   0   0
1   0  37   0
2   0   0  44

Confusion matrix (y_test vs y_pred_test)

    0   1  2
0  11   0  0
1   0  13  0
2   0   0  6

*****************************************************
***************************************************
KNeighborsClassifier()
--------------------------------------------------------
ACC on train predictions: 0.95
ACC on test predictions: 0.9666666666666667
--------------------------------------------------------
Balanced ACC on train predictions: 0.9488124488124487
Balanced ACC on test predictions: 0.9743589743589745
--------------------------------------------------------
Precision train: 0.9519668737060041
Precision test: 0.9523809523809524
--------------------------------------------------------
Recall on train predictions: 0.9488124488124487
Recall on test predictions: 0.9743589743589745
--------------------------------------------------------
f1 on train predictions: 0.9500000000000001
f1 on test predictions: 0.9610256410256409
--------------------------------------------------------
Confusion matrix (y_train vs y_pred_train)

    0   1   2
0  39   0   0
1   0  33   4
2   0   2  42

Confusion matrix (y_test vs y_pred_test)

    0   1  2
0  11   0  0
1   0  12  1
2   0   0  6

*****************************************************
***************************************************
GaussianNB()
--------------------------------------------------------
ACC on train predictions: 0.95
ACC on test predictions: 0.9666666666666667
--------------------------------------------------------
Balanced ACC on train predictions: 0.9502457002457002
Balanced ACC on test predictions: 0.9444444444444445
--------------------------------------------------------
Precision train: 0.9502457002457002
Precision test: 0.9761904761904763
--------------------------------------------------------
Recall on train predictions: 0.9502457002457002
Recall on test predictions: 0.9444444444444445
--------------------------------------------------------
f1 on train predictions: 0.9502457002457002
f1 on test predictions: 0.957351290684624
--------------------------------------------------------
Confusion matrix (y_train vs y_pred_train)

    0   1   2
0  39   0   0
1   0  34   3
2   0   3  41

Confusion matrix (y_test vs y_pred_test)

    0   1  2
0  11   0  0
1   0  13  0
2   0   1  5

*****************************************************
***************************************************

#### Best overall was DecisionTreeClassifier

In [141]:
#Regression

def MultipleRegressors(func, X, y, test_size = 0.2,):
    """ 
    Function that trains a model and return metrics
            
    :param X: data for training
    :param y: target values
    :param test_size: for trian _test_split(by default = .2)
    """
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, 
                                                        random_state=0)
    
    model = func
    model.fit(X_train, y_train)
    y_pred_train = model.predict(X_train) 
    y_pred_test = model.predict(X_test)
    labels = y_train.sort_values().unique()
    
    print('--------------------------------------------------------')
    print(f'R^2 on train predictions: {metrics.r2_score(y_train, y_pred_train)}')
    print(f'R^2 on test predictions: {metrics.r2_score(y_test, y_pred_test)}')
    print('--------------------------------------------------------')
    print(f'MSE on train predictions: {metrics.mean_squared_error(y_train, y_pred_train)}')
    print(f'MSEon test predictions: {metrics.mean_squared_error(y_test, y_pred_test)}')
    print('--------------------------------------------------------')
    print(f'MAE on train predictions: {metrics.mean_absolute_error(y_train, y_pred_train)}')
    print(f'MAE on test predictions: {metrics.mean_absolute_error(y_test, y_pred_test)}')

In [142]:
data = load_boston()
X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.Series(data["target"], name='MEDV')

models = [Ridge(),
          ElasticNet(),
          Lasso()]

for model in models:
        print(str(model))
        MultipleRegressors(model,X,y)
        print("*****************************************************\n***************************************************")

Ridge()
--------------------------------------------------------
R^2 on train predictions: 0.7711260446978171
R^2 on test predictions: 0.579611171416492
--------------------------------------------------------
MSE on train predictions: 19.487180016696623
MSEon test predictions: 34.2316061106154
--------------------------------------------------------
MAE on train predictions: 3.1012592049669747
MAE on test predictions: 3.836948822289119
*****************************************************
***************************************************
ElasticNet()
--------------------------------------------------------
R^2 on train predictions: 0.7240207349734148
R^2 on test predictions: 0.5006003732089015
--------------------------------------------------------
MSE on train predictions: 23.4979013289128
MSEon test predictions: 40.6653320776942
--------------------------------------------------------
MAE on train predictions: 3.4250369341815103
MAE on test predictions: 4.247728994169982
*****************************************************
***************************************************
Lasso()
--------------------------------------------------------
R^2 on train predictions: 0.7170467166597749
R^2 on test predictions: 0.48789271561192593
--------------------------------------------------------
MSE on train predictions: 24.09169519304297
MSEon test predictions: 41.70009679994901
--------------------------------------------------------
MAE on train predictions: 3.4781596412481313
MAE on test predictions: 4.3151787451059365
*****************************************************
***************************************************

#### Ridge seems to be the best of all